<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum repudiandae eligendi esse eos expedita velit quae quasi rem sint culpa. Ratione, tempora maiores doloremque voluptatem porro perspiciatis aspernatur ipsum soluta?